body {
	font-size: 15px;
/*	background-color: #800439;*/
}
.wrapper {
	background-color: #800439;
	min-height: 100%;
	padding: 0px 0px 50px 0px;
}
.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.container_12 .grid_12,
.container_16 .grid_16 {
  width: 940px;
  background-color: #fff;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.footer {
	background-color: #fff;
	text-align: center;
	color: #3f3f3f;
}
.footer a {
	display: block;
	color: #303030;
}
.footer h1 {
	color: #c0c0c0;
}
.centered {
	text-align: center;
}
#navigation {
	text-align: center;
	padding: 20px 0px 40px 0px;
	vertical-align: baseline;
	font-size: 150%;
	margin: 5px 0px 20px 0px;
}
#navigation h1 a {
	background: url('../img/fccwm-logo-sml.png') no-repeat left;
	text-indent: -9999px;
	height: 40px;
	width: 320px;
	display: block;
}
#google_map {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 0px;
}
h1 {
	font-size: 21px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.centered {
	text-align: center;
}
p {
	padding: 0px 0px 0px 0px;
}
/*#service-times {
	float: left;
	margin: 0px -110px 0px 0px;
	padding: 0px 0px 0px 110px;
}*/
/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0px 0px 0px 0px;
	border-bottom:2px solid #555;
	border-top:2px solid #555;
	text-align: left;
	padding:4px;
	background: #DCDCDC;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar {
	background: #FFFFc8;
	border-bottom: 1px dotted #C9C9C9;
	color: #18BBBE;
}
.ui-dialog .ui-dialog-title {
	font-size: 23px;
}

.ui-dialog .ui-dialog-content {
	background: #ffffc8;
}
.ui-dialog .ui-dialog-buttonpane {
	background: #FFFFc8;
	text-align: left;
	border-width: 0px 0 0 0;
	background-image: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
